.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px;
  border-bottom: 1px solid #fafafa;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.chat__image {
  margin-right: 20px;
}

.chat__details {
  text-align: left;
  flex: 1;
}

.chat__details > p,
.chat__timestamp {
  color: gray;
}
